---
import Layout from "../../layouts/Layout.astro";

const { list } = Astro.params;
---

<Layout title={`${list} | WeAstro`}>
  <main class="h-screen w-screen">
    <section class="p-10">
      <p>list with id: {list}</p>
    </section>
  </main>
</Layout>
