---
import Sidebar from "../../components/Sidebar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Lists | WeAstro">
  <main class="h-screen w-screen">
    <section class="p-10">
      <p>All Lists</p>
    </section>
  </main>
</Layout>
