---
import Layout from "../layouts/Layout.astro";

---

<Layout title="WeAstro">
  <main class="flex items-center justify-between">
    <div class="w-1/2 mx-auto">
      <h1 class="text-8xl">Hello there!</h1>
      <h2 class="mt-4 text-2xl opacity-80">
        This is WeAstro, the place where tasks are managed.
      </h2>
      <div class="mt-8 flex gap-4">
        <a
          class="rounded-full transition-all border-2 border-neutral-50 bg-transparent px-6 py-2 text-base font-semibold uppercase hover:border-pink-600 hover:text-pink-600"
          href="/lists/create">+ Create New List</a
        >
      </div>
    </div>
  </main>
</Layout>
