---
import Layout from "../layouts/Layout.astro";
import "@maibornwolff/mwui-stencil/dist/mwui-stencil/mwui-stencil.css";
---

<Layout title="WeAstro">
  <main class="flex h-screen w-screen items-center justify-center">
    <div>
      <h1>WeAstro</h1>
      <p class="opacity-80">This is the place where tasks are managed.</p>
      <a href="/tasks" class="mt-6 block text-pink-500 hover:underline"
        >Go to tasks.</a
      >
    </div>
  </main>
</Layout>
