---
import Layout from "../layouts/Layout.astro";
import "@maibornwolff/mwui-stencil/dist/mwui-stencil/mwui-stencil.css";
---

<Layout title="Tasks | WeAstro">
  <main class="h-screen w-screen">
    <h1>Tasks</h1>
  </main>
</Layout>
