---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Create Task | WeAstro">
  <main class="h-screen w-screen">
    <section class="p-10">
      <p>Create new Task</p>
    </section>
  </main>
</Layout>
